.description{
    margin-top: 10px;
    margin-left: 20px;
}

.author{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.authorTitle{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
}

.authorDetails{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}