.articleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.customcard {
    margin-bottom: 15px;
    width: 20rem;
}

.viewArticle{
    position: absolute;
    bottom: 10px;
    left: 37%;
}


.customCardBody{
    height: 230px;
}